@page "/"

<PageTitle>Home</PageTitle>

<div class="main-container">

    <div class="minefield">

        @for (int i = 0; i < 12; i++) {

            <div class="mineline">

                @for (int j = 0; j < 12; j++) {

                    <div class="minesquare">
                        
                        <div class="clickarea">
                            
                        </div>

                    </div>

                }

            </div>
        }

    </div>

</div>