@page "/"

<PageTitle>Home</PageTitle>

@if (game.GameOver && game.Win)
{
    <h1>Game Over! You wins!</h1>
}

@if (game.GameOver && !game.Win)
{
    <h1>Game Over! You loses!</h1>
}

<div class="main-container">

    <div class="minefield">

        @for (int j = 0; j < 12; j++)
        {
            <div class="mineline">

                @for (int i = 0; i < 12; i++)
                {
                    int x = i;
                    int y = j;

                    @if (!game[i, j].IsOpen)
                    {
                        <div class="minesquare">
                            <div class="clickarea" @onclick="() => Open(x, y)"></div>
                        </div>
                    }
                    else if (game[i, j].HasBomb)
                    {
                        <div class="number">
                            <img class="img-icon" src="bomb.png">
                        </div>
                    }
                    else if (game[i, j].Number > 0)
                    {
                        <div class="number" style=@($"color: {GetColor(game[i, j].Number)}")>
                            @game[i, j].Number
                        </div>
                    }
                    else
                    {
                        <div class="number"/>
                    }
                }

            </div>
        }

    </div>

</div>

@code
{
    Game game = new Game();

    [SupplyParameterFromQuery]
    private int? Bombs { get; set; }

    protected override void OnInitialized()
    {
        game.InitGame(Bombs ?? 12);
    }

    void Open(int i, int j)
        => game.Open(i, j);

    string GetColor(int number)
        => number switch
        {
            1 => "#00F",
            2 => "#080",
            3 => "#F00",
            4 => "#008",
            5 => "#800",
            6 => "#088",
            7 => "#000",
            8 => "#888",
            _ => "#000"
        };
}