.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minefield {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.mineline {
    display: flex;
    flex-direction: row;
}

.minesquare {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background: linear-gradient(135deg, #eee, #222);
    display: flex;
    justify-content: center;
    align-items: center;

}

.number {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-icon {
    width: 40px;
    height: 40px;
}

.clickarea {
    width: 46px;
    height: 46px;
    background: linear-gradient(135deg, #aaa, #888);
}

.minesquare:hover {
    background: linear-gradient(135deg, #ccc, #000);

}

.minesquare:hover .clickarea {
    background: linear-gradient(135deg, #888, #666);
}