@page "/"

<PageTitle>Home</PageTitle>

<div class="main-container">

    <div class="minefield">

        @for (int j = 0; j < 12; j++)
        {
            <div class="mineline">

            @for (int i = 0; i < 12; i++)
            {
                @if (!game[i, j].IsOpen)
                {
                    <div class="minesquare">
                        <div class="clickarea"></div>
                    </div>
                }
                else if (game[i, j].HasBomb)
                {
                    <div class="minesquare">
                    </div>
                }
                else
                {
                    <div class="minesquare">
                        @game[i, j].Number
                    </div>
                }
            }
            </div>
        }

    </div>

</div>

@code
{
    Game game = new Game();

    protected override void OnInitialized()
    {
        game.InitGame();
    }

}